
.App {
  width:550px;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  
  
}

.header {
  background: #21222A;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 60px;
  margin-right:10px;
}

.header h2 {
  color: #61DAFB;
  font-size: 22px;

}


.header p {
  padding: 0 20px;
  list-style-type: none;
  color: #DEEBF8;

  font-size: 16px;
}

.main-component {
  max-width: 550px;
  max-height: 459px;
  margin: 0 auto;
  background:  #282D35;
  padding: 37px 27px;
  
}

.main-component h1 {
  margin: 0;
  font-size: 39px;
  color: #fff;
  letter-spacing: -0.05em;
}


.main-component ul  {
  margin-top: 26px;
  max-width: 400px;
}

.main-component ul > li {
  font-size: 16px;
  color: #fff;
  padding-block: 10px;
}

.main-component ul > li::marker{
  color: #61DAFB;
  font-size: 30px;

}

